unity/Atic Atac Remake/Library/
unity/Atic Atac Remake/Temp/
csharp/AticAtac/ObjectDataCreator/packages/
csharp/AticAtac/ObjectDataCreator/ObjectDataCreator/bin/Debug/ObjectDataCreator.vshost.exe.config
csharp/AticAtac/ObjectDataCreator/ObjectDataCreator/obj/
csharp/AticAtac/ObjectDataCreator/AticAtacTypes/obj/
csharp/AticAtac/MapShapeColourizer/obj/
csharp/AticAtac/MapShapeColourizer/bin/
csharp/AticAtac/ObjectDataCreator/ObjectDataCreator/bin/
